/* 
    Created on : Jul 26, 2016, 1:16:31 PM
    Author     : nemanja.marjanovic
*/





/* page core */
div#core {
  display: block;
  clear: both;
  margin-bottom: 20px;
}
section#left {
  width: 550px;
  float: left;
  margin: 0 15px;
}
section#right {
  float: left;
  width: 300px;
}
 

.global{
    /*    background-color: silver;*/
    width: 99%;
}


.title{
    vertical-align: top;
    border-bottom: 1px solid black;
    width: 100%; 

}

.menu{
    width: 20%;
    text-align: center;
    padding: 30px;
    text-align: right;
    vertical-align: top;
    border-right: 1px solid black;

}

.content{
    padding: 30px;
    margin:5px;
    text-align: left;
    vertical-align: top;
}

.datatable{
    border-collapse:collapse;
}
.datatable-header{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
}
.datatable-odd-row{
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFFF;
    border-top:1px solid #BBBBBB;
}
.datatable-even-row{
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}

